.blog-list-item {
  width: 100%;
  border-bottom: 1px solid #e7e5ea;
  list-style-type: none;
}

.blog-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  color: #12022f;
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Roboto';
  font-style: normal;
}

.blog-description {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  margin-right: 18px;
}

.blog-paragraph {
  color: #9aa5b1;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
}
